/* Box Dimensions */
/* div{
    height: 200px;
    width: 200px;
    background-color: #bbbbaa;
}
div.khan{
    background-color: red;
    
}
p{
    width: 80%;
} */

/* Limiting Widths */
/* td.description{
    min-width: 450px;
    max-width: 650;
    text-align: left;
    padding: 5px;
    margin: 0px;
} */

/* Limiting Height  */
h2, p {
    width: 400px;
    font-size: 90%;
    line-height: 1.2em;
}
h2 {
    color: #0088dd;
    border-bottom: 1px solid #0088dd;
}
p{
    /* min-height: 100px; */
    max-height: 250px;
    border: 1px solid red;
}