/* Box Dimensions */
/* div{
    height: 200px;
    width: 200px;
    background-color: #bbbbaa;
}
div.khan{
    background-color: red;
    
}
p{
    width: 80%;
} */

/* Limiting Widths */
td.description{
    min-width: 450px;
    max-width: 650;
    text-align: left;
    padding: 5px;
    margin: 0px;
}

/* Limiting Height  */